@tailwind base;
@tailwind components;
@tailwind utilities;
/* Scrollbar for horizontal movie row */
::-webkit-scrollbar {
  height: 6px;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}